<div class="row">
  <div class="col-sm-6 col-sm-offset-3 center">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'pull-left' %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'pull-left' %><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions text-left">
        <%= f.submit "Log in", class: 'btn btn-default btn-block'%>
      </div>

    <% end %>
  </div>
</div>
